@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 2%;
    --foreground: 240 7% 95%;
    --primary: 21 90% 48%;

    --primary-shadow: 0px 0px 32px 0px hsl(var(--primary));
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));

  main {
    background-image: url('public/home/dot_grid.png');
    background-color: hsl(var(--foreground));
  }
}

.dual-gradient:hover {
  background: 
    linear-gradient(#de5d10, #009933) padding-box, 
    linear-gradient(to bottom, #b99682, #27673b) border-box;
}
